# Server Configuration
PORT=3000

# Cloudinary Configuration
# Get these from https://console.cloudinary.com/settings/api
CLOUDINARY_CLOUD_NAME=dybetzl5r
CLOUDINARY_API_KEY=197588889535712
CLOUDINARY_API_SECRET=CnSLplLeOiKfVobiXzlt0cxiSOs

# Optional: Add any other environment variables here

